<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKXHNA9dT69VQ451T7FUKZR0nUyhbmr84</string>
	<key>GCM_SENDER_ID</key>
	<string>582563642316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fidelitas.hemsspa</string>
	<key>PROJECT_ID</key>
	<string>hems-spa</string>
	<key>STORAGE_BUCKET</key>
	<string>hems-spa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582563642316:ios:f0e3e3216c11bb12ee3b69</string>
</dict>
</plist>